<!DOCTYPE html>
<html>
	<head>
	<style>
		body{background-color: blanchedalmond; }
		div{text-align: center;   margin: auto; width: 50%;padding: 10px;}
	</style>	
	</head>
	<body style="background-image: url('https://wallpaperaccess.com/full/5651981.jpg');">
		<br/>
		<br/>
	
		<div >
        <h1 style="font-size: 80px; color:purple">Portfolio page</h1>
		
		
		<p><h1 style="color: rgb(67, 165, 42);">Hii,</h1>    <h1 style="color: crimson;" >I Am</h1><h1 style="font-size: 50PX; color:cyan">
			 {{name.name}}</h1> </p>
		<br/>
		<br/>
		<br/>
		<p style="position: absolute; bottom: 0; left: 50; color:chartreuse; font-size:30px; ">Created By :{{name.name}}  </p>
		</div>
	</body>
</html>
